:global {
  body[data-theme='dark'] {
    --background-color: var(--dark-violet);
    --text-color: var(--white);
    --checkBox-color: var(--light-gray);
    --checked-checkbox-color: var(--violet);
    --placeholder-color: var(--light-gray);
    --cell-border-color: #2a3442;
  }
  body[data-theme='light'] {
    --background-color: var(--white);
    --text-color: var(--dark-violet);
    --checkBox-color: var(--dark-violet);
    --checked-checkbox-color: var(--violet);
    --placeholder-color: var(--gray);
    --cell-border-color: #e2e6ea;
  }
}

.modalFilter__wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 4;
  }
}

.modalFilter {
  opacity: 1;
  z-index: 8;
  background-color: var(--background-color);
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 307px;
  height: 217px;
  border-radius: 6px;
  &__container {
    margin: 0 auto;
    max-width: 279px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__location_wrapper {
    display: flex;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: var(--cell-border-color);
      width: 100%;
      height: 1px;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    margin-left: 17px;
    width: 135px;
    height: 72px;
  }

  &__checkboxLabel {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    border-radius: 3px;
    background-color: var(--checkBox-color);
    margin-right: 16px;
    border: none;
    outline: none;
    &:checked {
      opacity: 1;
      background-image: url('/src/assets/desktop/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--checked-checkbox-color);
    }
  }

  &__confirmBtn {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: var(--violet);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 24px;
  }
}
