:global {
  body[data-theme='dark'] {
    --background-color: var(--dark-violet);
    --text-color: var(--white);
    --text-secondary-color: var(--dark-gray);
    --position-color: var(--white);
  }
  body[data-theme='light'] {
    --background-color: var(--white);
    --text-color: var(--dark-violet);
    --text-secondary-color: var(--dark-gray);
    --position-color: #000;
  }
}

.container {
  margin: 0 0 0 32px;
  padding-bottom: 36px;
}

.card {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 6px;
  max-width: 327px;
  @include tablet_display {
    max-width: none;
  }
  & span {
    display: block;
  }
  &__logoBackground {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, -50%, 0);
  }
  &__vacancyInfo {
    display: flex;
    max-width: 147px;
    justify-content: space-between;
    color: var(--text-secondary-color);
  }
  &__position {
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 17px;
    color: var(--position-color);
    word-wrap: break-word;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  &__company {
    color: var(--text-secondary-color);
    margin-bottom: 44px;
  }
  &__location {
    font-size: 14px;
    font-weight: bold;
    color: var(--violet);
  }
}
