.mainPage {
  height: 100dvh;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 136px;
    z-index: -1;
    background-image: url('../../assets/mobile/bg-pattern-header.svg');
    background-size: cover;
    background-position: center;
    @include tablet_display {
      background-image: url('../../assets/tablet/bg-pattern-header.svg');
      background-position: bottom;
    }
    @include pc_display {
      background-image: url('../../assets/desktop/bg-pattern-header.svg');
    }
  }
}

.searchBar {
  transform: translate3d(0, -50%, 0);
}
