.paletteWrapper {
  margin-top: 32px;
  @include tablet_display {
    margin-top: 45px;
  }
  @include pc_display {
    margin-top: 80px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  width: 100%;
  height: 100%;
}

.cardsPalette {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-row-gap: 49px;
  place-items: center;
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include tablet_display {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 65px;
  }
  @include pc_display {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
  &__btnLoad {
    margin-top: 32px;
    margin-bottom: 62px;
    background-color: var(--violet);
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
    width: 141px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.4s;
    @include hover {
      &:hover {
        background-color: var(--light-violet);
      }
    }
  }
}
