:global {
  body[data-theme='dark'] {
    --background-color: var(--dark-violet);
    --text-color: var(--white);
    --btn-color: rgba(89, 100, 224, 0.1);
    --btn-hover-color: rgba(83, 88, 98, 0.25);
  }
  body[data-theme='light'] {
    --background-color: var(--white);
    --text-color: var(--dark-violet);
    --btn-color: #eff0fc;
    --btn-hover-color: rgba(89, 100, 224, 0.35);
  }
}

.footerContainer {
  max-width: 307px;
  margin: 0 auto;
  @include tablet_display {
    max-width: 730px;
  }
}

.detailsFooter {
  min-height: 96px;
  background-color: var(--background-color);
}
