@import 'the-new-css-reset';

:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --dark-violet: #19202d;
  --very-dark-violet: #121721;
  --white: #ffffff;
  --light-gray: #f4f6f8;
  --gray: #9daec2;
  --dark-gray: #6e8098;
  --black: #000000;
  --warm-violet: #d5d8f7;
}

body {
  font-family: 'Kumbh sans', sans-serif;
}

body[data-theme='dark'] {
  background-color: var(--very-dark-violet);
}
body[data-theme='light'] {
  background-color: var(--light-gray);
}
